/* /* @import "tailwindcss"; */

@import "tailwindcss";


/* @import "tailwindcss/preflight"; */


@font-face {
  font-family: "Electro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Electro Regular"), url('/fonts/Electro.woff') format('woff');
}

:root {
  --font-electro: "Electro Regular", sans-serif;
  /* font-size: 62.5rem; */
}

body {
  background: rgb(5, 0, 0);
  color: white;
  /* font-family: electro, sans-serif; */
}

h1 {
  font-family: var(--font-electro);
}

h2 {
  font-family: var(--font-electro);
}

p {
  font-family: var(--font-ma);
}


@keyframes slide {
  0%, 20% { transform: translateX(0); } 
  24%, 45% { transform: translateX(-100%); } 
  50%, 70% { transform: translateX(-200%); } 
  75%, 95% { transform: translateX(-300%); } 
 100% { transform: translateX(-400%); } 



}

.animate-slide {
  animation: slide 10s ease-in-out infinite;
}

.clip-triangle{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.clip-triangularr{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: rgb(186, 3, 186);
  width: 30px;
  height: auto; 

}

.clip-triangular {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 350px ;
  height: 280px;
  display: block;
  background-color: rgb(48, 31, 48);
}


.clip-triangool {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 330px;
  height: 220px;
  display: block;
}

.clip-trianglee {
  clip-path: polygon(50% 100%, -20% 0%, 120% 0%);
  display: inline-block;
  text-align: center;
}

.clip-triangule {
  clip-path: polygon(50% 100%, -40% 0%, 140% 0%);
  display: inline-block;
  text-align: center;
}

.triangle {
  width: 100%;
  height: 50%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
  position: relative;
  top: 100px;
  left: 0;
  transform: scaleY(1);
  /* padding: auto; */
  /* margin: 30rem; */
}

/* @keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
} */

/* @keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */

/* @keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
} */

/* . {
  width: 100px;
  height: 100px;
  background-color: #f0eef3 transparent;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */