@import "tailwindcss";


@font-face {
  font-family: "Electro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Electro Regular"), url('/fonts/Electro.woff') format('woff');
}

:root {
  --font-electro: "Electro Regular", sans-serif;
}

body {
  background: rgb(5, 0, 0);
  color: white;
  /* font-family: electro, sans-serif; */
}

h1 {
  font-family: var(--font-electro);
}

.clip-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}